mujoco:
  use_gui: true
  start_paused: false
  fixed: false
  environment: environments/slope_45.mjcf
  environments_package: ftn_solo

poses:
  zero_pose:
    [ 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0,
      0.0, 0.0, 0.0,
      0.0, 0.0, 0.0]
  initial_pose: [ -0.1, 0.985, -1.57, 0.1, 0.985, -1.57, -0.1, -0.985, 1.57, 0.1, -0.985, 1.57 ]
  upper_pose:
    [ 0.0, 0.24, -0.45,
      0.0, 0.24, -0.45,
      0.0, -0.24, 0.45,
      0.0, -0.24, 0.45]
  fl_up:
    [ 0.0, 1.2,   -2.5,
      0.0, 0.485, -0.9,
      0.0, -0.485, 0.9,
      0.0, -1.2,   2.5]
  fr_up:
    [ 0.0, 0.485, -0.9,
      0.0, 1.2,   -2.5,
      0.0, -1.2,   2.5,
      0.0, -0.485, 0.9,]
  siting:
    [ 0.0, 0.4, 0.0,
      0.0, 0.4, 0.0,
      0.0, -1.2, 2.5,
      0.0, -1.2, 2.5]
on_start:
  poses: ["initial_pose"]
  durations: [2.0]

joint_controller:
  Kp: 4.0
  Kd: 0.025
  B: [0.04942078, 0.01572849, 0.06912064, 0.04239326, 0.02192039, 0.01842552, 0.03287664, 0.02633164, 0.01044717, 0.03181056, 0.01332392, 0.0117219 ]
  Fv: [0.0031868,  0.00569844, 0.00705093, 0.00238999, 0.00461981, 0.00565022, 0.00374987, 0.0092189,  0.0045631,  0.004821,   0.00551858, 0.00647931]
  sigma: [0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05]  
  max_control: 2.2

whole_body:
  B: [0.04942078, 0.01572849, 0.06912064, 0.04239326, 0.02192039, 0.01842552, 0.03287664, 0.02633164, 0.01044717, 0.03181056, 0.01332392, 0.0117219 ]
  Fv: [0.0031868,  0.00569844, 0.00705093, 0.00238999, 0.00461981, 0.00565022, 0.00374987, 0.0092189,  0.0045631,  0.004821,   0.00551858, 0.00647931]
  sigma: [0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05]  
  lambda_tangential: 0.05
  # lambda_torque: 0.00
  # lambda_kd: 0.00
  
max_torque: 2.5
crawl:
  - motions:
    - eef: 18
      position: [0.26, -0.12, 0.06]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5

  - motions:
    - eef: 10
      position: [0.26, 0.12, 0.06]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
    torso_height: 0.25

  - motions:
    - eef: 10
      position: [0.32, 0.12, 0.12]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 26
      position: [-0.05, 0.12, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5    
  - motions:
    - eef: 18
      position: [0.32, -0.12, 0.12]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5    
  
  - motions:
    - eef: 34
      position: [-0.05, -0.12, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5

  - motions:
    - eef: 26
      position: [0.0, 0.12, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 34
      position: [0.0, -0.12, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 10
      position: [0.38, 0.12, 0.18]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 18
      position: [0.38, -0.12, 0.18]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 26
      position: [0.09, 0.12, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 34
      position: [0.09, -0.12, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 10
      position: [0.44, 0.12, 0.24]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 18
      position: [0.44, -0.12, 0.24]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 26
      position: [0.17, 0.12, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 34
      position: [0.17, -0.12, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 10
      positions:
        - [0.41, 0.12, 0.29]
        - [0.48, 0.12, 0.29]
        - [0.50, 0.12, 0.26]
      times: [0.3, 0.8, 1]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
    duration: 5
  - motions:
    - eef: 18
      positions:
        - [0.41, -0.12, 0.29]
        - [0.48, -0.12, 0.29]
        - [0.50, -0.12, 0.26]
      times: [0.3, 0.8, 1]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
    duration: 5

  - motions:
    - eef: 26
      position: [0.24, 0.12, 0.04]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 34
      position: [0.24, -0.12, 0.04]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 10
      position: [0.59, 0.12, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 18
      position: [0.59, -0.12, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 26
      position: [0.30, 0.12, 0.10]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 34
      position: [0.30, -0.12, 0.10]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 10
      position: [0.68, 0.12, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 18
      position: [0.68, -0.12, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 26
      position: [0.36, 0.12, 0.16]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 34
      position: [0.36, -0.12, 0.16]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 10
      position: [0.77, 0.12, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 18
      position: [0.77, -0.12, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 26
      position: [0.44, 0.12, 0.24]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 34
      position: [0.44, -0.12, 0.24]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 5

  - motions:
    - eef: 10
      position: [0.86, 0.12, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 18
      position: [0.86, -0.12, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 5
  - motions:
    - eef: 26
      positions:
        - [0.41, 0.12, 0.29]
        - [0.48, 0.12, 0.29]
        - [0.50, 0.12, 0.26]
      times: [0.3, 0.8, 1]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
    duration: 5
  - motions:
    - eef: 34
      positions:
        - [0.41, -0.12, 0.29]
        - [0.48, -0.12, 0.29]
        - [0.50, -0.12, 0.26]
      times: [0.3, 0.8, 1]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
    duration: 5
  - motions: []
    duration: 5
  - motions: []
    duration: 5
