mujoco:
  use_gui: true
  start_paused: false
  fixed: false
  environment: environments/slope_45.mjcf
  environments_package: ftn_solo

poses:
  zero_pose:
    [ 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0,
      0.0, 0.0, 0.0,
      0.0, 0.0, 0.0]
  initial_pose:
    [ 0.0, 0.985, -1.57,
      0.0, 0.985, -1.57,
      0.0, 0.985, -1.57,
      0.0, 0.985, -1.57]
  upper_pose:
    [ 0.0, 0.24, -0.45,
      0.0, 0.24, -0.45,
      0.0, -0.24, 0.45,
      0.0, -0.24, 0.45]
  fl_up:
    [ 0.0, 1.2,   -2.5,
      0.0, 0.485, -0.9,
      0.0, -0.485, 0.9,
      0.0, -1.2,   2.5]
  fr_up:
    [ 0.0, 0.485, -0.9,
      0.0, 1.2,   -2.5,
      0.0, -1.2,   2.5,
      0.0, -0.485, 0.9,]
  siting:
    [ 0.0, 0.4, 0.0,
      0.0, 0.4, 0.0,
      0.0, -1.2, 2.5,
      0.0, -1.2, 2.5]
on_start:
  poses: ["initial_pose"]
  durations: [2.0]

max_torque: 2.5

joint_controller:
  Kp: 5.0
  Kd: 0.05
  B: [ 0.01576374, 0.01089234, 0.03823308,  0.01643371, 0.01248983, 0.00934859, 0.01852457, 0.01234855, 0.00878798, 0.00879661, 0.01211335, 0.00664463 ]
  Fv: [ 0.03963752, 0.10378998, 0.05979448, 0.05197113, 0.11847712, 0.06750289, 0.04130814, 0.07737033, 0.05783389, 0.08236283, 0.06921521, 0.092142 ]
  B: 0.0
  Fv: 0.0
  sigma: [ 0.0125, 0.05, 0.025, 0.05, 0.05, 0.05, 0.0125, 0.05, 0.05, 0.05, 0.05, 0.05 ]
  max_control: 2.2

whole_body:
  B: [0.04942078, 0.01572849, 0.06912064, 0.04239326, 0.02192039, 0.01842552, 0.03287664, 0.02633164, 0.01044717, 0.03181056, 0.01332392, 0.0117219 ]
  Fv: [0.0031868,  0.00569844, 0.00705093, 0.00238999, 0.00461981, 0.00565022, 0.00374987, 0.0092189,  0.0045631,  0.004821,   0.00551858, 0.00647931]
  sigma: 0.05
  B: 0
  Fv: 0
  lambda_tangential: 0.01
  smooth: 0.8

crawl:
  - motions:
    - eef: 10
      position: [0.26, 0.14, 0.06]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
    torso_height: 0.25
  - motions:
    - eef: 18
      position: [0.26, -0.14, 0.06]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 26
      position: [-0.09, 0.14, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 34
      position: [-0.09, -0.14, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 10
      position: [0.32, 0.14, 0.12]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 18
      position: [0.32, -0.14, 0.12]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 26
      position: [0.0, 0.14, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 34
      position: [0.0, -0.14, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 10
      position: [0.38, 0.14, 0.18]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 18
      position: [0.38, -0.14, 0.18]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 26
      position: [0.09, 0.14, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 34
      position: [0.09, -0.14, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 10
      position: [0.44, 0.14, 0.24]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 18
      position: [0.44, -0.14, 0.24]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 26
      position: [0.17, 0.14, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 34
      position: [0.17, -0.14, 0]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 10
      positions:
        - [0.41, 0.14, 0.29]
        - [0.48, 0.14, 0.29]
        - [0.50, 0.14, 0.26]
      times: [0.3, 0.8, 1]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
    duration: 2
  - motions:
    - eef: 18
      positions:
        - [0.41, -0.14, 0.29]
        - [0.48, -0.14, 0.29]
        - [0.50, -0.14, 0.26]
      times: [0.3, 0.8, 1]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
    duration: 2

  - motions:
    - eef: 26
      position: [0.24, 0.14, 0.04]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 34
      position: [0.24, -0.14, 0.04]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 10
      position: [0.59, 0.14, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 18
      position: [0.59, -0.14, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 26
      position: [0.30, 0.14, 0.10]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 34
      position: [0.30, -0.14, 0.10]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 10
      position: [0.68, 0.14, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 18
      position: [0.68, -0.14, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 26
      position: [0.36, 0.14, 0.16]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 34
      position: [0.36, -0.14, 0.16]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 10
      position: [0.77, 0.14, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 18
      position: [0.77, -0.14, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 26
      position: [0.44, 0.14, 0.24]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 34
      position: [0.44, -0.14, 0.24]
      orientation: [0.0,  -0.3826834, 0, 0.9238795 ] # x, y, z, w
      times: [0.5]
    duration: 2

  - motions:
    - eef: 10
      position: [0.86, 0.14, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 18
      position: [0.86, -0.14, 0.26]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
      times: [0.5]
    duration: 2
  - motions:
    - eef: 26
      positions:
        - [0.41, 0.14, 0.29]
        - [0.48, 0.14, 0.29]
        - [0.50, 0.14, 0.26]
      times: [0.3, 0.8, 1]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
    duration: 2
  - motions:
    - eef: 34
      positions:
        - [0.41, -0.14, 0.29]
        - [0.48, -0.14, 0.29]
        - [0.50, -0.14, 0.26]
      times: [0.3, 0.8, 1]
      orientation: [0.0, 0.0, 0.0, 1.0] # x, y, z, w
    duration: 2
  - motions: []
    duration: 2
  - motions: []
    duration: 2
